.menu {
  width: 100%;
  padding: 4px;
  background-color: #1e201e;
  display: flex;
}

.menu__nav {
  margin-left: auto;
  background-color: transparent;
}

.menu__list {
  list-style: none;
  display: flex;
  gap: 5px;
}

.menu__item {
  background-color: transparent;
}

/* links */

.menu__link {
  padding: 5px;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  background-color: #a02334;
  display: inline-block;
  cursor: pointer;
}
