.menu {
  width: 100%;
  padding: 0.5px;
  background-color: #1e201e;
  display: flex;
}

.menu__nav {
  background-color: transparent;
}

.menu__list {
  list-style: none;
  display: flex;
  gap: 5px;
}

.menu__item {
  background-color: transparent;
}
